extends layouts/default

block content
  .Frame
    a(href="http://strangeshould.com/jeu/").FrameCorner.FrameCorner--leftTop
    a(href="http://strangeshould.com/site/").FrameCorner.FrameCorner--rightTop
    a(href="http://strangeshould.com/talltabs/").FrameCorner.FrameCorner--rightBottom
    a(href="http://strangeshould.com").FrameCorner.FrameCorner--leftBottom

    svg(width='0', height='0')
      defs
        clippath#leftTopclipPolygon
          polygon(points='140 0,140 42,42 42,42 140,0 140,0 0')

        clippath#rightTopclipPolygon
          polygon(points='140 0,140 42,238 42,238 140,280 140,280 0')

        clippath#rightBottomclipPolygon
          polygon(points='140 280,140 238,238 238,238 140,280 140,280 280')

        clippath#leftBottomclipPolygon
          polygon(points='140 280,140 238,42 238,42 140,0 140,0 280')
    

