extends layouts/default

block content
  .Frame
    a(href="http://jeu.suvves.com/").FrameCorner.FrameCorner--leftTop
    a(href="http://site.suvves.com/").FrameCorner.FrameCorner--rightTop
    a(href="http://talltabs.suvves.com/").FrameCorner.FrameCorner--rightBottom
    a(href="http://suvves.com/").FrameCorner.FrameCorner--leftBottom
