extends layouts/default

block content
  .Frame
    a(href="http://jeu.suvves.com/").FrameCorner.FrameCorner--leftTop
    a(href="http://site.suvves.com/").FrameCorner.FrameCorner--rightTop
    a(href="http://talltabs.suvves.com/").FrameCorner.FrameCorner--rightBottom
    a(href="http://suvves.com/").FrameCorner.FrameCorner--leftBottom

    //- svg(width='0', height='0')
    //-   clippath#leftTopclipPolygon
    //-     //- polygon(points='200 250,587 35,300 50,0 0')
    //-     polygon(points='50 0, 50 15, 15 15, 15 50, 0 50, 0 0')
    
    //- svg(width='0', height='0')
    //-   clippath#rightTopclipPolygon
    //-     polygon(points='200 250,587 35,300 50,0 0')
    
    //- svg(width='0', height='0')
    //-   clippath#rightBottomclipPolygon
    //-     polygon(points='200 250,587 35,300 50,0 0')
    
    //- svg(width='0', height='0')
    //-   clippath#leftBottomclipPolygon
    //-     polygon(points='200 250,587 35,300 50,0 0')

