extends layouts/default

block content
  .Frame
    a(href="jeu/").FrameCorner.FrameCorner--leftTop
    a(href="site/").FrameCorner.FrameCorner--rightTop
    a(href="talltabs/").FrameCorner.FrameCorner--rightBottom
    a(href="http://jeuthings.tumblr.com/").FrameCorner.FrameCorner--leftBottom
